<section>
    <div class="card-all">
        <div class="card">
            <button mat-button (click)="openDialog()" >Explore popular places </button>
        </div>
        <div class="card">
            <button mat-button>Explore now</button>
        </div>
        <div class="card">
            <button mat-button (click)="openSpecialOffersDialog()">Special offers</button>
        </div>
    </div>

    <div class="img-all">
        <div class="img">
            <img src="assets/images/popular.jpg" alt="popular" width="400px">
        </div>
        <div class="img">
            <img src="assets/images/now.jpg" alt="now" width="400px">
        </div>
        <div class="img">
            <img src="assets/images/offer.jpeg" alt="offer" width="400px">
        </div>
    </div>

</section>