<mat-card class="plan-card">
  <mat-card-header>
    <mat-card-title>TOURISTIC</mat-card-title>
  </mat-card-header>
  <mat-card class="image">
    <img mat-card-image src="assets/img-touristic.jpg" alt="Touristic Image" width="600px">
  </mat-card>

  <mat-card-content>
    <p>For people who want to explore different parts of the world and learn about their cultures.</p>
  </mat-card-content>
</mat-card>

<mat-card class="plan-card">
  <mat-card-header>
    <mat-card-title>ACADEMIC</mat-card-title>
  </mat-card-header>
  <mat-card class="image">
    <img mat-card-image src="assets/img-school.jpg" alt="Academic Image" width="600px">
  </mat-card>
  <mat-card-content>
    <p>For promotional trips for schools that want to enjoy an unforgettable trip.</p>
  </mat-card-content>
</mat-card>
